{% extends 'maitre.html' %}
{% load static %}

{% block titre %} Cinéma - A Propos{% endblock %}
{% block contenu %}
<div class="card mx-auto" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Projet d'intégration Web - Examen synthèse</b></li>
        <li class="list-group-item">Charles BOURGEOIS</li>
        <li class="list-group-item">202342811</li>
        <li class="list-group-item">Le projet consiste en la mise en place d'un annuaire de restaurants, nous pouvons ajouter des restaurants et leurs attribuer des commentaires !</li>
        <li class="list-group-item">Stéphane PELLETIER - PIW - 2024</li>
        <li class="list-group-item"><b>Cégep de la Pocatière</b></li>
    </ul>
</div>
{% endblock %}
