{% extends 'maitre.html' %}
{% load static %}

{% block titre %} Cinéma - Horaire {% endblock %}
{% block titrepage %} Horaire et réservation {% endblock %}
{% block contenu %}
<div class="card-group">
    {% for f in films %}
    <div class="card" style="width: 15rem; padding: 20px;">
        {% for r in Representation %}
        {% if r.film.code == f.code %}
        <div class="card-body">
            <a style="text-decoration: none; color: black;" href="{% url 'reservation' r.code %}">
            <button type="button" class="btn btn-outline-danger" >
                Salle {{ r.salle }} - {{ r.date }}    
            </button>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        <div class="card-body">
            <h5 class="card-title">{{ f.nom }}</h5>
            <img style="width: 100%; max-height: 600px;" src="{{ f.affiche }}" class="card-img-top" alt="affiche">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Durée : {{ f.duree }} min</li>
            <li class="list-group-item">Catégorie : <b>{{ f.categorie }}</b></li>
        </ul>
        <div class="card-body">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
