{% extends 'maitre.html' %}
{% load static %}

{% block titre %} Mes Commentaires - CuistoDingo {% endblock %}
{% block contenu %}
<h2>Mes Commentaires</h2>
{% if commentaires %}
    {% for commentaire in commentaires %}
        <div style="margin: 10px;">
            <hr>
            <p>{{ commentaire.userName }} - <b>{{ commentaire.noRestaurant.nomRestaurant }}</b> - {{ commentaire.dateCommentaire }}<td><a href="{% url 'modifierCommentaire' commentaire.noCommentaire %}"><img src="{% static 'images/icons8-pencil-30.png' %}" style="width: 20px; height:20px"></a></td><td><a href="{% url 'supprimerCommentaire' commentaire.noCommentaire %}"><img src="{% static 'images/icons8-remove-30.png' %}"></a></td></p>
            <p>{{ commentaire.commentaire }}</p>
            <p>Note : {{ commentaire.note }} <img id="logo" src="{% static 'images/etoile.png' %}" style="width: 50px;height: 50px;"></p>
        </div>
    {% endfor %}
{% else %}
    <p>Aucun commentaire trouvé.</p>
{% endif %}
{% endblock %}
